/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.map-info-window {
    margin-right: 14px;
}

.kingblue {
    background-color: rgb(6, 6, 192)
}

.tjeneste-card-title {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 22px !important;
}

.tjeneste-card-text {
    font-size: 14px !important;
    margin-top: 6px !important;
    line-height: 24px !important;
    cursor: pointer;
}

.ansatt-card-image {
    max-height: 70% !important;
}

.ansatt-card-content {
    max-height: 30% !important;
}

.ansatt-card-name {
    font-size: 16px !important;
 }

.ansatt-card-title {
    font-size: 14px !important;
    line-height: 18px !important;
 }

.ansatt-card-email {
    font-size: 12px !important;
    line-height: 20px !important;
    display: none;
 }